<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doom (2016) Logo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/dist/css/main.css"/>
</head>

<body>
    <div class="wrapper">
        <div class="doom">

            <!-- D -->
            <div class="d">
                <span class="d__top">
                    <span class="d__top__left tri"></span>
                    <span class="d__top__right tri"></span>
                </span>
                <span class="d__middle">
                    <span class="d__middle__btm tri"></span>
                </span>
                <span class="d__btm tri"></span>
                <span class="d__btm-right tri"></span>
            </div>

            <!-- O -->
            <div class="o">
                <span class="o__top">
                    <span class="o__top__left tri"></span>
                    <span class="o__top__right tri"></span>
                </span>
                <span class="o__middle">
                    <span class="o__middle__btm tri"></span>
                </span>
                <span class="o__btm">
                    <span class="o__btm__left tri"></span>
                    <span class="o__btm__right tri"></span>
                </span>
            </div>

            <!-- O -->
            <div class="o">
                <span class="o__top">
                    <span class="o__top__left tri"></span>
                    <span class="o__top__right tri"></span>
                </span>
                <span class="o__middle">
                    <span class="o__middle__btm tri second-o"></span>
                </span>
                <span class="o__btm">
                    <span class="o__btm__left tri second-o"></span>
                    <span class="o__btm__right tri second-o"></span>
                </span>
            </div>

            <!-- M -->
            <div class="m">
                <span class="m__top">
                    <span class="m__top__middle tri"></span>
                    <span class="m__top__right tri"></span>
                </span>
                <span class="btm">
                    <span class="m__btm__btm tri"></span>
                    <span class="m__btm__left tri"></span>
                    <span class="m__btm__spike-left tri"></span>
                    <span class="m__btm__spike-right tri"></span>
                </span>
            </div>
        </div>

        <!-- Info -->
        <div class="info">
            <p>Doom (2016) logo created using CSS only.
                <span>By Tom Bannister | <a href="https://codepen.io/Thomas_94/" target="_blank" title="Tom Bannister on Codepen">Codepen</a> | <a href="https://github.com/tombannister94" target="_blank" title="Tom Bannister on GitHub">GitHub</a>
            </span>
            </p>
        </div>
    </div>
</body>
</html>